page-login {
  ion-content {
    text-align: center;
    background: url('http://cdn.wonderfulengineering.com/wp-content/uploads/2014/05/mobile-wallpapers-14-610x1084.jpg');
  }

  form {
    padding-top: 2em;
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

  .logo {
    margin-top: 5em;
    height: 7em;
    opacity: 0.7;

  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  ion-label {
    margin-left: 5px;
    color: white;
  }
  ion-item {
    background-color: transparent !important;
    color: white !important;
  }
  ion-input {
    padding: 5px;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

}
