page-message {
  .home {
    // background: linear-gradient(to bottom,  #2b5876, #4e4376);
  }
  .toolbar-background {
    // background-color: #3d7ea9;
    // background: #006E90;
    border-bottom: 0px !important;
  }
  ion-note {
    font-size: 15px;
    align-self:center;
  }

}
