<!--
  Generated template for the Buy page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search for Books</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Search for Class, Book Name or Author"></ion-searchbar>
  <ion-list-header>
    Searching for Michigan State University
  </ion-list-header>
  <ion-list *ngIf="!empty">
    <button ion-item (click)="openItem(book)" *ngFor="let book of booksList">
      <ion-avatar item-left>
        <img [src]="book.sellerProfilePic" />
      </ion-avatar>
      <h2>{{book.class}}</h2>
      <p>{{book.name}}</p>
      <p class="price">${{book.price}}</p>
    </button>
  </ion-list>

</ion-content>
