page-sell-detail {
  ion-input {
    color: grey;
  }
  .home {
    text-align: center;
  }
  .bookImg {
    border-radius: 50%;
    width: 30%;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  #price {
    color: green;
  }
}
